.container {
  border: 1px solid gray;
  border-bottom: none;
  width: 400px;
  margin-bottom: 10px;
  box-sizing: border-box;
}

.group {
  box-sizing: border-box;
}

// card
.element {
  padding: 0.5rem 1rem 0.3rem;
  background-color: white;
  cursor: move;
  border-bottom: 1px solid gray;
}

.eleBox {
  padding-bottom: 0.5rem;
}

.noBorder {
  border-bottom: none;
}

.empty {
  font-size: 0;
  padding: 0.5rem 0 0;
}

// draglayer
.maskContainer {
  width: 400px;
  margin-bottom: 10px;
  box-sizing: border-box;
  padding-bottom: 6px;
  background-color: white;
}

.maskFrame {
  border-left: 1px solid gray;
  border-right: 1px solid gray;
}

.mask {
  position: fixed;
  pointer-events: none;
  top: 0px;
  left: 8px;
  width: 400px;
  height: 100%;
}

.maskLayer {
  z-index: 99;
}

.dragLayer {
  z-index: 100;
}

.offsetToBottom {
  top: -1px;
}

.dragEle {
  border: 1px solid gray;
}
